*{
    font-family: Nunito;   
}

h1{

    text-decoration: underline;
}

h2{ 
    text-align: left;
    border-style: double;
    border-color: gray;
    background-color: lightgray;
    
}

h3{
    text-align: left;
    text-decoration: underline;
}

ul{
    text-align: left;
}

li{
    text-align: justify;
    margin-left: 1cm;
}
section {
    color: #3c434a;
}
section li{
    margin-left: 0;
}

img{
    border-style: double;
    border-color: black;
}

#link {
    color: blue;
    margin-top: 1.5cm;
}
button {
    color: purple;
}
